In [1]:
import json

In [2]:
input = '''[
  { "id" : "01",
    "status" : "Instructor",
    "name" : "Hrant"
  } ,
  { "id" : "02",
    "status" : "Student",
    "name" : "Jack"
  }
]'''

In [3]:
data = json.loads(input)

In [4]:
type(data)

list

In [5]:
from pprint import pprint

In [6]:
pprint(data)

[{u'id': u'01', u'name': u'Hrant', u'status': u'Instructor'},
 {u'id': u'02', u'name': u'Jack', u'status': u'Student'}]

In [7]:
data[0]

{u'id': u'01', u'name': u'Hrant', u'status': u'Instructor'}

In [8]:
data[1]

{u'id': u'02', u'name': u'Jack', u'status': u'Student'}

In [15]:
for i in data:
    print ("ID: "+i["id"])
    print ("Name: "+i["name"])
    print ("Status: "+i["status"]), "\n"

ID: 01
Name: Hrant
Status: Instructor

ID: 02
Name: Jack
Status: Student

READING

In [16]:
import pandas as pd

In [20]:
data = pd.read_json("sample.json")

In [21]:
data

   id   name      status
0   1  Hrant  Instructor
1   2   Jack     Student

In [22]:
type(data)

pandas.core.frame.DataFrame

In [23]:
homework = pd.read_json("homework.json")

In [24]:
homework

,Actor,Movie,Role
0,Peter Dinklage,Game of Thrones,Tyrion Lannister
1,Travis Fimmel,Vikings,Ragnar Lothbrok
2,"{u'Young Uhtred': u'Tom Taylor', u'Not that yo...",The last Kingdom,Uhtred of Bebbanburg

In [27]:
with open("sample.json", "r") as file:
    local_json = json.load(file)

In [28]:
print(local_json)

[{u'status': u'Instructor', u'id': u'01', u'name': u'Hrant'}, {u'status': u'Student', u'id': u'02', u'name': u'Jack'}]

In [29]:
pprint(local_json)

[{u'id': u'01', u'name': u'Hrant', u'status': u'Instructor'},
 {u'id': u'02', u'name': u'Jack', u'status': u'Student'}]

In [31]:
with open("created.json", "w") as file:
    json.dump(local_json, file, sort_keys = True, indent = 4)

Converting JSON to CSV

In [33]:
import csv
with open("created.json", "r") as file:
    my_file = json.load(file)

In [34]:
with open("from_json.csv", "w") as f:
    writer = csv.writer(f)
    writer.writerow(["ID","Name","Status"])
    for item in my_file:
        writer.writerow([item["id"], item["name"], item["status"]])